---
import "../styles/global.css";
import TechStack from "../components/TechStack.astro";
import CurrentRole from "../components/CurrentRole.astro";
import PreviousExperience from "../components/PreviousExperience.astro";
import HeadingDecorator from "../components/HeadingDecorator.astro";
import "@fontsource-variable/geist";
import Education from "../components/Education.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pablo Guerrero - CV</title>
  </head>
  <body class="max-w-4xl p-4 mx-auto py-8">
    <header class="mb-8">
      <h1 class="text-4xl font-bold mb-4">
        <HeadingDecorator /> Pablo Guerrero
      </h1>
      <p class="text-muted">
        Principal software engineer working at
        <a
          href="https://www.linkedin.com/company/justgiving"
          target="_blank"
          rel="noopener noreferrer"
        >
          JustGiving
        </a>
      </p>
    </header>
    <main>
      <TechStack class="mb-8" />
      <CurrentRole class="mb-8" />
      <PreviousExperience class="mb-8" />
      <Education class="mb-8" />
    </main>
  </body>
</html>
