---
import HeadingDecorator from "./HeadingDecorator.astro";
import JustGivingIcon from "./icons/JustGivingIcon.astro";
import JobDetails from "./JobDetails.astro";

interface Props {
  class?: string;
}
---

<section class={Astro.props.class}>
  <h2 class="text-2xl font-bold mb-4"><HeadingDecorator /> Current role</h2>
  <JobDetails
    company="JustGiving"
    role="Principal software engineer"
    startDate="Aug 2019"
  >
    <JustGivingIcon slot="icon" />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum.
  </JobDetails>
</section>
