---
import HeadingDecorator from "./HeadingDecorator.astro";
import JustGivingIcon from "./icons/JustGivingIcon.astro";
import JobDetails from "./JobDetails.astro";

interface Props {
  class?: string;
}
---

<section class={Astro.props.class}>
  <h2 class="text-2xl font-bold mb-4"><HeadingDecorator /> Current role</h2>
  <JobDetails
    company="JustGiving"
    role="Principal software engineer"
    startDate="Aug 2019"
    technologies=" React, Next.js, TypeScript, GraphQL (Apollo), AWS Lambda, Lambda@Edge, Step Functions, DynamoDB, SQS, SNS, Azure Service Bus, CosmosDB, CircleCI, Serverless Framework, Terraform, AWS CDK"
  >
    <JustGivingIcon slot="icon" />
    <div class="space-y-4">
      <p>
        Drove the next-generation rendering stack using Next.js with React
        Server Components, deployed as Lambda@Edge. Built a globally replicated
        DynamoDB caching layer aggregating all data required to render pages at
        scale. Designed event-driven sync mechanisms to keep cached data
        consistent, significantly improving performance, reliability, and
        time-to-first-byte.
      </p>

      <p>
        Led the development of a modular page platform, consolidating multiple
        product-specific backends/frontends into reusable services and
        components. Reducing duplication of business logic and accelerated
        feature delivery across fundraising, crowdfunding, and campaign
        products.
      </p>

      <p>
        Contributed to the AWS to Azure migration by extending and maintaining
        the event-driven data pipeline, using AWS Lambda and Step Functions to
        stream events and replay historical data into our new services built in
        Azure.
      </p>

      <p>
        Designed and delivered an AI-powered spam detection service, using
        OpenAPI models to analyse fundraising page data to proactively flag
        fraudulent or abusive content and protect platform integrity.
      </p>

      <p>
        Acted as a technical leader and mentor, driving engineering standards,
        conducting design reviews, and influencing long-term platform strategy
        across teams.
      </p>

      <p>
        Earlier projects (2019–2021): Led creation of a unified React +
        TypeScript SSR rendering platform for JustGiving pages, consolidating
        multiple stacks into a single application, and implemented fitness data
        integrations (Strava, Fitbit) to enhance donor engagement.
      </p>

      <p>
        Gained deep experience with CI/CD and Infrastructure as Code, using
        Terraform and AWS CDK to provision and manage cloud services, and
        automating deployments to ensure reliability and repeatability across
        environments.
      </p>
    </div>
  </JobDetails>
</section>
