<div
  class="flex items-center gap-2 border rounded-full border-dotted p-1 px-3 border-muted"
>
  <div class="grayscale w-[1.3em] h-[1.3em] flex">
    <slot name="icon" />
  </div>
  <pre class="whitespace-nowrap"><slot /></pre>
</div>
